@import "input.css"; 
@import "button.css"; 
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "input.css"; */


.flex::before,
        .flex::after {
            display: none !important;
        }